<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avic.mapper.ExpertScoreSheetMapper">
    <resultMap id="expertScoreSheetMap" type="com.avic.model.ExpertScoreSheet">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="projectName" property="projectName" jdbcType="VARCHAR"/>
        <result column="projectNumber" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="companyName" property="companyName" jdbcType="VARCHAR"/>
        <result column="expertName" property="expertName" jdbcType="VARCHAR"/>
        <result column="point" property="point" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="DATE"/>
        <result column="updateTime" property="updateTime" jdbcType="DATE"/>
    </resultMap>
    
    <select id="findAllExpertScoreByProjectNumber" resultMap="expertScoreSheetMap">
        select projectName, projectNumber, companyName, expertName, updateTime from expertscoresheet where projectNumber = #{projectNumber}
    </select>

    <select id="findScoreInfoByExpertNameAndCompanyName" resultType="com.avic.model.ExpertScoreSheet">
        select * from expertscoresheet where expertName = #{expertName} and companyName = #{companyName}
    </select>

</mapper>