<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avic.mapper.ExpertScoreSheetMapper">
    <resultMap id="expertScoreSheetMap" type="com.avic.model.ExpertScoreSheet">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="projectName" property="projectName" jdbcType="VARCHAR"/>
        <result column="projectNumber" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="companyName" property="companyName" jdbcType="VARCHAR"/>
        <result column="expertName" property="expertName" jdbcType="VARCHAR"/>
        <result column="totalItems" property="totalItems" jdbcType="VARCHAR"/>
        <result column="sequenceNumber" property="sequenceNumber" jdbcType="VARCHAR"/>
        <result column="itemWeight" property="itemWeight" jdbcType="VARCHAR"/>
        <result column="totalItems" property="totalItems" jdbcType="VARCHAR"/>
        <result column="itemCount" property="itemCount" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="point" property="point" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="partExpertScoreSheetMap" type="java.util.HashMap">
        <result column="projectName" property="projectName" jdbcType="VARCHAR"/>
        <result column="projectNumber" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="companyName" property="companyName" jdbcType="VARCHAR"/>
        <result column="expertName" property="expertName" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findExportScoreCount" resultType="Integer">
        select count(*) from expertscoresheet where projectNumber = #{projectNumber} and status = 0
    </select>

    <select id="findExpertScoreByProjectNumberAndPagination" resultMap="partExpertScoreSheetMap">
        select projectName, projectNumber, companyName, expertName, updateTime
        from expertscoresheet
        where projectNumber = #{projectNumber} and status = 0 order by id limit #{startNumber}, #{columns}
    </select>

    <select id="findScoreInfoByExpertNameAndCompanyName" resultType="com.avic.model.ExpertScoreSheet">
        select * from expertscoresheet where projectNumber = #{projectNumber} and expertName = #{expertName} and companyName = #{companyName}
    </select>

    <select id="getExpertScoreByProjectNumberAndProjectNumber" resultType="com.avic.model.ExpertScoreSheet">
        select * from expertscoresheet where projectName = #{projectName} and projectNumber = #{projectNumber}
    </select>

    <select id="findScoreInfoByProjectNumberAndCompanyName" resultMap="expertScoreSheetMap">
        select * from expertscoresheet where projectNumber = #{projectNumber} and companyName = #{companyName}
    </select>

    <select id="findScoreSheetTotalCount" parameterType="com.avic.model.httovo.ExpertScoreSheetPagination" resultType="Integer">
        select count(*)
        from expertscoresheet
        where expertName = #{expertName} and projectNumber = #{projectNumber} and expertName = #{expertName}
    </select>

    <!-- 分页查询 -->
    <select id="findScoreSheetPagination" parameterType="com.avic.model.httovo.ExpertScoreSheetPagination" resultType="com.avic.model.ExpertScoreSheet">
        select *
        from expertscoresheet
        where projectName = #{projectName} and projectNumber = #{projectNumber} and expertName = #{expertName}
        ORDER BY id limit #{startNumber,jdbcType=INTEGER},#{columns, jdbcType=INTEGER}
    </select>

    <update id="updateExpertScoreSheet"  parameterType="com.avic.model.ExpertScoreSheet">
        update expertscoresheet
        <set>
            <if test="projectName != null and projectName != ''">
                projectName = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectNumber != null and projectNumber != ''">
                projectNumber = #{projectNumber,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null and companyName != ''">
                companyName = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="expertName != null and expertName != ''">
                expertName = #{expertName,jdbcType=VARCHAR},
            </if>
            <if test="itemWeight != null and itemWeight != ''">
                itemWeight = #{itemWeight,jdbcType=VARCHAR},
            </if>
            <if test="totalItems != null and totalItems != ''">
                totalItems = #{totalItems,jdbcType=VARCHAR},
            </if>
            <if test="itemCount != null and itemCount != ''">
                itemCount = #{itemCount,jdbcType=VARCHAR},
            </if>
            <if test="sequenceNumber != null and sequenceNumber != ''">
                sequenceNumber = #{sequenceNumber,jdbcType=VARCHAR},
            </if>
            <if test="point != null and point != ''">
                point = #{point,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null and createTime != ''">
                createTime = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null and updateTime != '' ">
                updateTime = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="updateExpertScoreSheetForeach"  parameterType="java.util.List">
        <foreach collection="list" item="expertScoreSheet" separator=";">
            update expertscoresheet
            <set>
                <if test="expertScoreSheet.projectName != null and expertScoreSheet.projectName != ''">
                    projectName = #{expertScoreSheet.projectName,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.projectNumber != null and expertScoreSheet.projectNumber != ''">
                    projectNumber = #{expertScoreSheet.projectNumber,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.companyName != null and expertScoreSheet.companyName != ''">
                    companyName = #{expertScoreSheet.companyName,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.expertName != null and expertScoreSheet.expertName != ''">
                    expertName = #{expertScoreSheet.expertName,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.itemWeight != null and expertScoreSheet.itemWeight != ''">
                    itemWeight = #{expertScoreSheet.itemWeight,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.totalItems != null and expertScoreSheet.totalItems != ''">
                    totalItems = #{expertScoreSheet.totalItems,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.itemCount != null and expertScoreSheet.itemCount != ''">
                    itemCount = #{expertScoreSheet.itemCount,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.sequenceNumber != null and expertScoreSheet.sequenceNumber != ''">
                    sequenceNumber = #{expertScoreSheet.sequenceNumber,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.point != null and expertScoreSheet.point != ''">
                    point = #{expertScoreSheet.point,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.status != null">
                    status = #{expertScoreSheet.status,jdbcType=INTEGER},
                </if>
                <if test="expertScoreSheet.status == null">
                    status = 1,
                </if>
                <if test="expertScoreSheet.updateTime != null and expertScoreSheet.updateTime != '' ">
                    updateTime = #{expertScoreSheet.updateTime,jdbcType=VARCHAR},
                </if>
            </set>
            where projectName = #{expertScoreSheet.projectName} and projectNumber = #{expertScoreSheet.projectNumber}
        </foreach>
    </update>

    <insert id="insertExpertScoreSheetForeach" parameterType="java.util.List" >
        <foreach collection="list" item="expertScoreSheet" separator=";">
            insert into expertscoresheet (
            <trim prefix="" suffix=")" suffixOverrides=",">
                <if test="expertScoreSheet.projectName != null">
                    projectName,
                </if>
                <if test="expertScoreSheet.projectNumber != null">
                    projectNumber,
                </if>
                <if test="expertScoreSheet.companyName != null">
                    companyName,
                </if>
                <if test="expertScoreSheet.expertName != null">
                    expertName,
                </if>
                <if test="expertScoreSheet.itemWeight != null">
                    itemWeight,
                </if>
                <if test="expertScoreSheet.totalItems != null">
                    totalItems,
                </if>
                <if test="expertScoreSheet.itemCount != null">
                    itemCount,
                </if>
                <if test="expertScoreSheet.sequenceNumber != null">
                    sequenceNumber,
                </if>
                <if test="expertScoreSheet.status != null">
                    status,
                </if>
                <if test="expertScoreSheet.point != null">
                    point,
                </if>
                <if test="expertScoreSheet.createTime != null">
                    createTime,
                </if>
                <if test="expertScoreSheet.updateTime != null">
                    updateTime,
                </if>
            </trim>
            select
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="expertScoreSheet.projectName != null">
                    #{expertScoreSheet.projectName,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.projectNumber != null">
                    #{expertScoreSheet.projectNumber,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.companyName != null">
                    #{expertScoreSheet.companyName,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.expertName != null">
                    #{expertScoreSheet.expertName,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.itemWeight != null">
                    #{expertScoreSheet.itemWeight,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.totalItems != null">
                    #{expertScoreSheet.totalItems, jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.itemCount != null">
                    #{expertScoreSheet.itemCount, jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.sequenceNumber != null">
                    #{expertScoreSheet.sequenceNumber,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.point != null">
                    #{expertScoreSheet.point,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.status != null">
                    #{expertScoreSheet.status,jdbcType=INTEGER},
                </if>
                <if test="expertScoreSheet.createTime != null">
                    #{expertScoreSheet.createTime,jdbcType=VARCHAR},
                </if>
                <if test="expertScoreSheet.updateTime != null">
                    #{expertScoreSheet.updateTime,jdbcType=VARCHAR},
                </if>
            </trim>
            where not exists
            (select 1 from expertscoresheet
                where projectName=#{expertScoreSheet.projectName}
                and projectNumber=#{expertScoreSheet.projectNumber}
                and companyName=#{expertScoreSheet.companyName}
                and expertName = #{expertScoreSheet.expertName}
            )
        </foreach>
    </insert>

    <delete id="deleteExpertScoreForeachById" parameterType="java.util.List" >
        delete from expertscoresheet where id in
        <foreach collection="list" item="expertScoreSheet" separator="," open="(" close=")">
            #{expertScoreSheet.id,jdbcType=INTEGER}
        </foreach>
    </delete>

</mapper>