<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avic.mapper.ExpertScoreSheetMapper">
    <resultMap id="expertScoreSheetMap" type="com.avic.model.ExpertScoreSheet">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="projectName" property="projectName" jdbcType="VARCHAR"/>
        <result column="projectNumber" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="companyName" property="companyName" jdbcType="VARCHAR"/>
        <result column="expertName" property="expertName" jdbcType="VARCHAR"/>
        <result column="totalItems" property="totalItems" jdbcType="VARCHAR"/>
        <result column="itemWeight" property="itemWeight" jdbcType="VARCHAR"/>
        <result column="totalItems" property="totalItems" jdbcType="VARCHAR"/>
        <result column="point" property="point" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="findAllExpertScoreByProjectNumber" resultMap="expertScoreSheetMap">
        select projectName, projectNumber, companyName, expertName, updateTime from expertscoresheet where projectNumber = #{projectNumber}
    </select>

    <select id="findScoreInfoByExpertNameAndCompanyName" resultType="com.avic.model.ExpertScoreSheet">
        select * from expertscoresheet where expertName = #{expertName} and companyName = #{companyName}
    </select>

    <select id="findScoreInfoByProjectNumberAndCompanyName" resultMap="expertScoreSheetMap">
        select * from expertscoresheet where projectNumber = #{projectNumber} and companyName = #{companyName}
    </select>

    <insert id="insertExpertScoreSheet"  parameterType="com.avic.model.ExpertScoreSheet">
        insert into expertscoresheet (
        <trim prefix="" suffix=")" suffixOverrides=",">
            <if test="projectName != null">
                projectName,
            </if>
            <if test="projectNumber != null">
                projectNumber,
            </if>
            <if test="companyName != null">
                companyName,
            </if>
            <if test="expertName != null">
                expertName,
            </if>
            <if test="itemWeight != null">
                itemWeight,
            </if>
            <if test="totalItems != null">
                totalItems,
            </if>
            <if test="point != null">
                point,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        values (
        <trim prefix="" suffix=")" suffixOverrides=",">
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectNumber != null">
                #{projectNumber,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="expertName != null">
                #{expertName,jdbcType=VARCHAR},
            </if>
            <if test="itemWeight != null">
                #{itemWeight,jdbcType=VARCHAR},
            </if>
            <if test="totalItems != null">
                #{totalItems, jdbcType=VARCHAR},
            </if>
            <if test="point != null">
                #{point,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>



</mapper>