<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avic.mapper.FinalScoreSheetMapper">
    <resultMap id="finalScoreSheetMap" type="com.avic.model.FinalScoreSheet">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="projectName" property="projectName" jdbcType="VARCHAR"/>
        <result column="projectNumber" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="companyName" property="companyName" jdbcType="VARCHAR"/>
        <result column="isGenerate" property="isGenerate" jdbcType="INTEGER"/>
        <result column="averageScore" property="averageScore" jdbcType="VARCHAR"/>
        <result column="totalScore" property="totalScore" jdbcType="DOUBLE"/>
        <result column="createTime" property="createTime" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="partFinalScoreSheetMap" type="java.util.HashMap">
        <result column="projectName" property="projectName" jdbcType="VARCHAR"/>
        <result column="projectNumber" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="companyName" property="companyName" jdbcType="VARCHAR"/>
        <result column="isGenerate" property="isGenerate" jdbcType="INTEGER"/>
    </resultMap>

    <select id="findProjectCount" resultType="Integer">
        select count(*) from finalscoresheet
    </select>

    <select id="findProjectByPagination" resultMap="partFinalScoreSheetMap">
        select projectNumber, projectName, companyName, isGenerate
        from finalscoresheet order by id limit #{startNumber}, #{columns}
    </select>

    <insert id="insertFinalScoreSheet" parameterType="com.avic.model.FinalScoreSheet">
        insert into finalscoresheet (
        <trim prefix="" suffix=")" suffixOverrides=",">
            <if test="projectName != null">
                projectName,
            </if>
            <if test="projectNumber != null">
                projectNumber,
            </if>
            <if test="companyName != null">
                companyName,
            </if>
            <if test="isGenerate != null">
                isGenerate,
            </if>
            <if test="averageScore != null">
                averageScore,
            </if>
            <if test="totalScore != null">
                totalScore,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        values (
        <trim prefix="" suffix=")" suffixOverrides=",">
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectNumber != null">
                #{projectNumber,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="isGenerate != null">
                #{isGenerate,jdbcType=INTEGER},
            </if>
            <if test="averageScore != null">
                #{averageScore,jdbcType=VARCHAR},
            </if>
            <if test="totalScore != null">
                #{totalScore,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateFinalScore" parameterType="com.avic.model.FinalScoreSheet">
        update finalscoresheet
        set isGenerate = #{isGenerate}, averageScore = #{averageScore}, totalScore = #{totalScore}, updateTime = #{updateTime}
        where projectNumber = #{projectNumber} and companyName = #{companyName}
    </update>

    <select id="findFinalScoreSheetByProjectNumberAndCompanyName" resultMap="finalScoreSheetMap">
        select projectName, projectNumber, companyName, averageScore, totalScore
        from finalscoresheet where projectNumber = #{projectNumber} and companyName = #{companyName}
    </select>

    <select id="findFinalScoreSheetByCondtion" parameterType="com.avic.model.FinalScoreSheet" resultType="com.avic.model.FinalScoreSheet">
        select * from finalscoresheet a
        <where>
            <if test="projectNumber != null and projectNumber != ''">
                and a.projectNumber = #{projectNumber,jdbcType=VARCHAR}
            </if>
            <if test="projectName != null and companyName != ''">
                and a.projectName = #{projectName,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName != ''">
                and a.companyName = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="isGenerate != null">
                and a.isGenerate = #{isGenerate,jdbcType=INTEGER}
            </if>
            <if test="averageScore != null">
                and a.averageScore = #{averageScore,jdbcType=INTEGER}
            </if>
            <if test="totalScore != null ">
                and a.totalScore = #{totalScore,jdbcType=DOUBLE}
            </if>
        </where>
    </select>

</mapper>